body { padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif; overflow-x: hidden; font-size: 14px; color: #24292e; scroll-behavior: smooth; }
ul { padding: 0; }
h2 { color: #252525; margin: 30px 15px; }
h3 { color: #252525; }
img { max-width: 720px }
pre { overflow: auto; }
textarea { box-sizing: border-box; border: 1px solid #cbcbcb; margin-bottom: 10px; border-radius: 4px; padding: 10px; height: 100px; width: 100%; resize: vertical; }
.menu { position: fixed; display: flex; flex-wrap: nowrap; width: 100%; overflow-x: hidden; flex-direction: row; background-color: #252525; color: #fdf6f6; padding: 15px; align-items: center; z-index: 2; }
.menu-searchbar { display: flex; flex-direction: row; align-items: center; flex-wrap: noWrap; }
.search-input { width: 200px; line-height: 20px; padding: 6px; font-size: 14px; margin-left: 20px; padding-left: 10px; outline: none; border: none }
.issue-list { width: 75%; margin: 45px auto 60px; border-bottom: 1px solid #dadada; font-size: 16px; font-weight: 500;}
.issue-list-item { padding: 20px; border: 1px solid #dadada; border-bottom: none; color: #252525; background-color: #ddd; margin-bottom: 3px; }
.issue-header { display: flex; flex-direction: row; align-items: center }
.issue-state-open, .issue-state-closed, .issue-list-label, .issue-comments { background-color: #28a745; padding: 5px 10px; border-radius: 15px; color: white; margin: 0px 2px 0px 3px; text-transform: lowercase }
.issue-state-closed { background-color: #cc0000 }
.issue-list-label { background-color: #0366d6; }
.issue-list-repo { color: #505050; padding-right: 10px; font-weight: 600; }
.issue-list-user { font-size: 12px; color: #808080; font-weight: 400; margin-top: 8px; }
.issue-comments { background-color: #b3b300 }
.issue-title { cursor: pointer; }
.pagination { display: inline-block; color: #4f758b; background-color: #fdf6f6; padding: 10px; width: 20px; height: 20px; line-height: 20px; border: 1px solid #cbcbcb; border-right: none; text-decoration: none; text-align: center; cursor: pointer}
.pagination:hover { background-color: #ddd; height: 18px; }
.previous-next { display: inline-block; color: #4f758b; background-color: #fdf6f6; padding: 10px; height: 20px; line-height: 20px; border: 1px solid #cbcbcb; text-decoration: none; text-align: center; cursor: pointer}
#first { border-right: none; }
.pagination-links { display: flex; justify-content: center; margin: 30px 0; }
.pagination.active { color: #fdf6f6; background-color: #4f758b; border:none; line-height: 22px; height: 22px; width: 22px; }
.my-issues { margin: 0 60px; color: white; text-decoration: none; cursor: pointer; }
.extended-search { position: relative; max-height: 0; width: 100%; padding: 15px 15px 60px 15px; z-index: 1; top: -20px; left: 0; background-color: #cbcbcb; }
 #extended-search-content { top: -450px; }
.extended-search span { position: relative; }
.search-input-extended { position: fixed; color: white; background-color: #252525; cursor: pointer; transition: .5s; filter: invert(0%); width: 35px; height: 33px; line-height: 33px; text-align: center; }
.search-input-extended:hover { transition: .5s; filter: invert(10%); font-size: 18px; }
#open-extended-icon { height: 16px; transition: .2s; }
.form-field { display: flex; align-items: baseline; margin-bottom: 20px; margin-left: 15px; transition: 0.2s; }
.input-label { line-height: 30px; } 
.radio-label { margin-left: 10px; }
.picklist { line-height: 30px; margin: 0 10px; font-size: 14px; }
.input-field { width: 250px; line-height: 16px; padding: 3px; font-size: 14px; margin-top: 5px; margin-left: 10px; margin-right: 10px; margin-bottom: 5px; padding-left: 10px; border: none; }
.searchbar { position: relative; display: inline-flex; align-items: center; }
.label-searchbar {  display: flex; flex-direction: column; align-items: flex-start; }
.extended-search-buttons { display: flex; flex-direction: row; justify-content: space-between; margin-top: 60px; margin-bottom: 20px; } 
.input-ok { pointer-events: auto; background-color: white; color: black; text-Transform: capitalize }
.input-reset { pointer-events: none; background-color: #fdfdfd; color: #a6a6a6; text-Transform: uppercase }
.go-back { position: absolute; font-size: 24px; transform: translate(-55px, 24px); cursor: pointer; transition: 0.3s; font-weight: 700}
.go-back:hover { transform: translate(-65px, 24px); transition: 0.3s; color: #808080; padding-right: 20px}
.button {position: relative; background-color: #252525; color: white; cursor: pointer; width: 33px; height: 33px; border-radius: 4px; letter-spacing: 1px;}
.OK-button { color: white; font-weight: bold; left: -11px; width: min-content; height: 23px; border-style: none; padding: 0 5px; border-radius: 0px; }
.plus-button { left: 15px; text-align: center; line-height: 33px; font-size: 18px; transition: 0.3s;}
.back-button, .close-button, .comment-button, .login-button, .cancel-button { width: min-content; line-height: 33px; font-size: 18px; border-style: none; padding: 0 25px; transition: 0.3s;}
.cancel-button, .update-button {background-color: #808080; visibility: hidden; height: 0px; align-self: end; margin-right: 10px; }
.update-button { background-color: #252525;}
.comment-top-bar { display: flex; flex-direction: row; justify-content: flex-end; }
.comment-header { border-bottom: 1px solid #cbcbcb; padding: 10px; display: flex; justify-content: space-between; background-color: #dcdcdc; }
.no-comments { margin: 30px 0px; padding: 30px; border: 1px solid #cbcbcb; }
.comments-padding {  padding: 5px 25px 15px }
#label-button { position: relative; background-color: #252525; color: white; font-weight: 700; margin-left: 10px; margin-top: 5px; height: 23px; border-style: none; padding: 0 5px; }
.On-Off-Button { display: flex; flex-direction: row; align-content: center; margin-bottom: 20px; align-items: center }
.button:active, #label-button:active { transform: translateY(1px); }
.button:hover, #label-button:hover { background-color: #3a3a3a; transition: 0.3s; }
.cancel-button:hover { background-color: #cb2431; }
.back-button:hover { padding: 0px 40px 0px 10px; transition: 0.3s;}
#qualifier-container { position: fixed; width: 100%; height: 100%; background-color: #252525; opacity: 0; top: 0; left: 0; visibility: hidden; overflow-y: hidden; transition: 0.4s; z-index: 3; }
#qualifier-picker { position: fixed; top: 50%; left: 50%; padding: 30px; background-color: #252525; border: 3px solid #353535; border-radius: 5px; width: 0; max-width: 500px; max-height: 500px; height: 0; visibility: hidden; transform: translate(-50%, -50%); transition: .2s; overflow-y: scroll; scrollbar-color: darkGrey #252525; z-index: 4; }
.qualifier-name { display: flex; align-items: center; flex: 1}
.qualifier-list { color: white; font-size: 14px; line-height: 30px; flex: 1 }
.quickinfo { display: flex; align-items: center; color: white; font-size: 13px; line-height: 13px; height: 15px; width: 6px; border: 1px solid white; border-radius: 15px; margin-left: 5px; padding: 1px 5px; text-decoration: none; cursor: pointer; }
.tooltiptext { visibility: hidden; position: absolute; left: -250px; top: 10px; z-index: 1}
.quickinfo:hover .tooltiptext { visibility: visible; }
.quickinfo:hover::before { content: " "; position: absolute; left: 446px; border-width: 12px; border-style: solid; border-color: transparent transparent transparent #353535; margin-left: 1px;}
.hovercard { display: flex; flex-direction: column; justify-content: flex-start; background-color: #353535; padding: 10px; border-radius: 6px; color: white; width: 200px; line-height: 15px;}
.refresh-icon { text-align: end; margin-bottom: 20px; cursor: pointer; }
.refresh-icon:hover, .font-color-grey { color: #808080}
.issue-main { width: 85%; }
.qualifier-list-header { font-size: 20px; color: white; margin-top: 0; margin-bottom: 30px; }
.switch input /* Hide default HTML checkbox */ { display: flex; margin: 0; opacity: 0; width: 0; height: 0; }
.slider /* The slider */ { display: inline-block; position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; width: 50px; height: 29px; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; /*height: 27px*/; width: 27px; top: 0px; left: 2px; bottom: 0px; background-color: white; -webkit-transition: .2s; transition: .2s;}
input:checked+.slider { background-color: #3fd16f;}
input:focus+.slider { box-shadow: 0 0 1px #3fd16f;}
input:checked+.slider:before { -webkit-transform: translateX(21px); transform: translateX(21px); }
.slider.round /* Rounded sliders */ { border-radius: 24px; margin-right: 20px; }
.slider.round:before { border-radius: 50%; }
.issue-content { display: flex;  flex-direction: row; }
.display-issue { background-color: white; overflow-y: auto; width: 85%; margin: 0px auto 60px; z-index: 4; max-width: 1080px; min-width: 400px;}
.go-to-github { background-color: #3a3a3a; padding: 5px 15px; border-radius: 15px; color: white; margin-left: 10px; height: 18px; line-height: 20px; text-transform: uppercase; text-decoration: none; transition: 0.3s }
.go-to-github:hover { background-color: #505050; transition: 0.3s;}
.sidebar { display: flex; flex-direction: column; margin: 30px 20px; border-radius: 4px; border: 1px solid #cbcbcb; padding: 15px 30px; width: 15%; height: max-content }
.issue-body { border-radius: 4px; margin-top: 30px; padding: 10px; }
.containers { border: 1px solid #cbcbcb; padding: 15px 30px; margin-bottom: 20px; }
.update-comment { visibility: hidden; padding: 0; margin: 0; height: 0; width: auto; }
.comments-list { display: flex; flex-direction: column; list-style-type: none; border: 1px solid #cbcbcb; margin-bottom: 30px; }
.comments-container { display: flex; flex-direction: column; align-content: flex-end; align-items: flex-end; border: 1px solid #cbcbcb; padding: 10px; border-radius: 4px; margin: 0px auto 30px; }
.comment-icon { padding: 0 10px; cursor: pointer; color: #3a3a3a; transition: 0.3s}
.comment-icon:hover { color: #808080; transition: 0.3s}
.picker-top-bar { display: flex; flex-direction: row; justify-content: space-between; } 
.picker-search { height: 20px; line-height: 20px; padding-left: 15px; }
.metadata { margin-top: 5px; margin-bottom: 15px}
.summary { display: list-item }


@media only screen and (max-width: 600px) {
  #qualifier-picker { max-width: 350px; }
  .search-label { visibility: hidden; font-size: 0px; }
  .search-input { margin-left: 0px; }
  #repositories, #users { visibility: hidden; font-size: 0px; }
  .input-field { display: flex; margin-left: 0; margin-top: 10px; }
  .OK-button { display: flex; align-items: center; margin-top: 10px; left: 0; }
  .form-field { display: flex; flex-direction: column; }
  .picklist { margin-left: 0px; }
  .searchbar { display: flex; flex-direction: column; align-items: flex-start; flex-wrap: nowrap; align-content: flex-end; }
}

@media only screen and (max-height: 600px) {
  #qualifier-picker { max-height: 250px; max-width: 350px;}
}

@media only screen and (max-height: 300px) {
  #qualifier-picker { max-height: 150px; }
}




